---
import Layout from '../layouts/Layout.astro'
import Counter from '../components/Counter'
import { Button } from '@/components/ui/button'
---

<Layout title="Palo Pinto Carousel">
    <Counter count={0} client:visible>
        <h1>Hello, React!</h1>
    </Counter>
    <Button client:visible>ShadCN Button</Button>
</Layout>
