---
// Component Imports
import '../styles/global.css'
import { SendToAttractScreen } from '../components/SendToAttractScreen'
import { ClientRouter } from 'astro:transitions'
import { ArduinoStartAndDinoSelectListener } from '@/components/ArduinoStartAndDinoSelectListener'

interface Props {
    title: string
    image?: string
    dinosaurName?: string
}

const { title } = Astro.props
---

<html lang="en" title={title}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <ClientRouter />
        <style>
            html,
            body {
                font-family: system-ui;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <main>
            <SendToAttractScreen client:only="react" />
            <ArduinoStartAndDinoSelectListener client:only="react" />
            <slot />
        </main>
    </body>
</html>
